<fieldset>
  <legend>Edit Post</legend>
  <!-- TITLE -->
  <div class="form-group">
    <label for="blog-title">Title</label><br>
    <input class="form-control" id="blog-title" type="text" name="title" value="{{blog.title}}"/>
  </div>


  <!-- DESCRIPTION -->
  <div class="form-group">
    <label for="blog-description">Description</label><br>
    <textarea class="form-control" id="blog-description" name="description" rows="10" />{{blog.description}}</textarea>
  </div>
</fieldset>
