
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <form method="POST" action="/blogs/{{blog._id}}?_method=PUT">
      {{> blogs-form}}
      <!-- BUTTON -->
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Save Blog</button>
        <button class="btn btn-primary"><a href="javascript: history.go(-1)">Back</a></button>
      </div>
    </form>
  </div>
</div>
