<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <form method="POST" action="/blogs">
      {{> blogs-form}}
      <!-- BUTTON -->
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Save Blog</button>
      </div>
    </form>
  </div>
</div>
